
* {
	all: unset;
	background-color: #202734;
	color: #CBCCC6;
}

.lg {
	background-color: #202734;
	color: #CBCCC6;
}

.box {
	background-color: #202734;
	color: #CBCCC6;
}


.logout_btn {
	font-size: 40px;
	background-color: #202734;
	color: #CBCCC6;
}

.cancel_btn {
	font-size: 40px;
	background-color: #202734;
	color: #CBCCC6;
}

.power_btn {
	font-size: 40px;
	background-color: #202734;
	color: #CBCCC6;
}

.reboot_btn {
	font-size: 40px;
	background-color: #202734;
	color: #CBCCC6;
}