
* {
	all: unset;
	background-color: #202734;
}

.lg {
	background-color: #202734;
}

.box {
	background-color: #202734;
	color: #CBCCC6;
}


.logout_btn {
	font-size: 40px;
	background-color: #202734;
	color: #BAE67E;
}

.cancel_btn {
	font-size: 40px;
	background-color: #202734;
	color: #73D0FF;
}

.power_btn {
	font-size: 40px;
	background-color: #202734;
	color: #FF3333;
}

.reboot_btn {
	font-size: 40px;
	background-color: #202734;
	color: #FFA759;
}

.timer {
	background-color: #202734;
}

.progress {
	background-color: #202734;
	color: #FFFFFF;
}